---
- name: Criar VMs no cluster Hyper-V
  hosts: all
  gather_facts: no

  tasks:
    - name: Desbloquear o script PowerShell (Unblock-File)
      ansible.windows.win_shell: |
        Unblock-File -Path "C:\Temp\Scripts\NOVA-VM-AWX.ps1"

    - name: Executar script PowerShell de criação de VMs
      ansible.windows.win_shell: |
        powershell.exe -ExecutionPolicy Bypass -File "C:\Temp\Scripts\NOVA-VM-AWX.ps1" `
          -isoPath "{{ iso_path }}" `
          -vmPathBase "{{ vm_path_base }}" `
          -vmPrefix "{{ vm_prefix }}" `
          -vmCount {{ vm_count }} `
          -cpuCount {{ cpu_count }} `
          -memoryMB {{ memory_mb }} `
          -diskGB {{ disk_gb }}