---
- name: Configuração inicial do servidor Linux
  hosts: all
  become: true

  vars:
    base_dir: /home/safeweb
    backup_dir: /home/safeweb/backups

  tasks:

  - name: Criar diretórios de gerenciamento
    file:
      path: "{{ item }}"
      state: directory
      mode: '0755'
    loop:
      - "{{ base_dir }}/downloads"
      - "{{ base_dir }}/backups"
      - "{{ base_dir }}/scripts"

  - name: Criar backup do needrestart.conf
    copy:
      src: /etc/needrestart/needrestart.conf
      dest: "{{ backup_dir }}/needrestart.conf"
      remote_src: true
      backup: yes

  - name: Alterar kernelhints para -1 no needrestart.conf
    replace:
      path: /etc/needrestart/needrestart.conf
      regexp: '^#\$nrconf\{kernelhints\} = -1;'
      replace: '$nrconf{kernelhints} = -1;'

  - name: Alterar needrestart.conf para reiniciar todos os serviços automaticamente
    replace:
      path: /etc/needrestart/needrestart.conf
      regexp: '^#\$nrconf\{restart\} = ''i'';'
      replace: '$nrconf{restart} = ''a'';'

  - name: Criar backup do arquivo 20auto-upgrades
    copy:
      src: /etc/apt/apt.conf.d/20auto-upgrades
      dest: "{{ backup_dir }}/20auto-upgrades"
      remote_src: true
      backup: yes

  - name: Desabilitar Update-Package-Lists automático
    replace:
      path: /etc/apt/apt.conf.d/20auto-upgrades
      regexp: 'APT::Periodic::Update-Package-Lists\s+"1";'
      replace: 'APT::Periodic::Update-Package-Lists "0";'

  - name: Desabilitar Unattended-Upgrade automático
    replace:
      path: /etc/apt/apt.conf.d/20auto-upgrades
      regexp: 'APT::Periodic::Unattended-Upgrade\s+"1";'
      replace: 'APT::Periodic::Unattended-Upgrade "0";'

  - name: Parar o serviço unattended-upgrades
    systemd:
      name: unattended-upgrades
      state: stopped
      enabled: false

  - name: Verificar status do serviço unattended-upgrades
    command: systemctl is-active unattended-upgrades
    register: unattended_status
    changed_when: false
    failed_when: false

  - name: Mostrar status do serviço unattended-upgrades
    debug:
      msg: "Serviço está {{ unattended_status.stdout }}"